
#button {
    background: #B502F6;
    background-image: -webkit-linear-gradient(top, #B502F6, #72D034);
    background-image: -moz-linear-gradient(top, #B502F6, #72D034);
    background-image: -ms-linear-gradient(top, #B502F6, #72D034);
    background-image: -o-linear-gradient(top, #B502F6, #72D034);
    background-image: linear-gradient(to bottom, #B502F6, #72D034);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #000000;
    font-family: Verdana;
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    }
    
    #button:hover {
    background: #D00202;
    text-decoration: none;
    }